<% include partials/header.ejs %>
<!-- banner start here -->
	<div class="agileinfo-main about-top">  
		<div class="banner"> 
		</div> 
		<div class="agileinfo-header">
			<div class="container">
				<div class="agile-logo">
					<a href="/"> <img src="images/img2.png" style="width: 100px; height: 100px;"></a>
				</div>
				<div class="agileits-w3layouts-icons">
					<div class="social-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="http://facebook.com/hbflempire" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="http://instagram.com/hbfl_empire" class="social-button instagram"><i class="fa fa-instagram"></i></a>
						<a href="mailto:dmcnationwide@yahoo.com" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						<a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
					</div> 
				</div>
				<div class="clearfix"> </div>
			</div>	    
		</div>
		<!-- navigation start here -->
		<div class="top-nav">
			<span class="menu">Menu</span>	
			<ul class="w3l">
				<li><a href="/"><i aria-hidden="true" class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
				<li><a class="active" href="/about"><i class="glyphicon glyphicon-user"></i><span>About</span></a></li>
				<li><a href="/blog"><i class="glyphicon glyphicon-list-alt"></i><span>Blog</span></a></li>
				<li><a href="/contestant"><i class="glyphicon glyphicon-check"></i><span>Vote</span></a></li>
				<li><a href="/contact"><i class="glyphicon glyphicon-envelope"></i><span>Contact</span></a></li>
				<li><a href="/signup"><i class="glyphicon glyphicon-pencil"></i><span>SignUp</span></a></li>
				<li><a href="#" id="login"><i class="glyphicon glyphicon-lock"></i><span>Login</span></a></li>
			</ul>
			<!-- script-for-menu -->
			<script>
			   $( "span.menu" ).click(function() {
				 $( "ul.w3l" ).slideToggle( 300, function() {
				 // Animation complete.
				  });
				 });
			</script>
			<!-- //script-for-menu -->
		</div>	
	</div>
	<!-- navigation end here -->
	<!-- about -->
	<div class="about agileits">
		<div class="container">
			<h2 class="agile-title">About Us</h2>  
			<div class="about-info">
				<div class="col-md-8 about-grids">
					<h4>A Brief Information About HBFL Empire LTD. </h4>
					<p>HBFL Empire is a brand that is structured to give back to the society. Our Services are: Pageant, Modelling, TV Reality show, PhotoJournalism, Ushering, Fashion and Lifestyle, Event Management, and lots more... </p>		
					<div class="embed-responsive embed-responsive-16by9">
						<video width="320" height="240" controls>
							<source src="images/hbfl.mp4" type="video/mp4">
						</video>
					</div> 
				</div>
				<div class="col-md-4 about-grids">
					<h4>HBFL HOUSEMATES</h4>
					<div class="pince">
						<div class="pince-left">
							<h5>00</h5>
						</div>
						<div class="pince-right">
							<p>HBFL Housemates is a platform for Nigerian Youths to showwcase their talents and potentials through beauty, Fashion and Lifestyle, And turn them into Celebrities and Brand Ambassadors...</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<h5>01</h5>
						</div>
						<div class="pince-right">
							<p>HBFL Housemates TV Reality Show is coming up on November 4th to 17th of November 2018.  Stay tuned for more from us...</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div> 
			</div>	
		</div>	
	</div>
	<!-- //about -->
	<!-- skill -->
	<div class="skill">
		<div class="container">
			<div class="col-md-4 skill-grids">
				<h4 class="agile-title">Our Popularity Over The Years</h4> 
			</div>
			<div class="col-md-8 skill-grids">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%;">
						<h6>2016</h6> <p>42%</p>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						<h6>2017</h6> <p>50%</p>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%;">
						<h6>2018</h6> <p>85%</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //skill -->
	<!-- about-team -->
	<div class="about team">		
		<div class="container">
			<h3 class="agile-title">Our Team</h3>  
			<div class="team-row">
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t1.jpg" class="img-responsive" alt="...">
						<div class="w3agile-caption">
							<h4>Vaura Tegsner</h4>
							<p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
							<div class="social-icon">
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
								<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
								<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
							</div> 	
						</div> 
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t2.jpg" class="img-responsive" alt="...">
						<div class="w3agile-caption">
							<h4>Jark Kohnson</h4>
							<p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
							<div class="social-icon">
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
								<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
								<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
							</div> 		
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t3.jpg" class="img-responsive" alt="...">
						<div class="w3agile-caption">
							<h4>Goes Mehak</h4>
							<p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>						
							<div class="social-icon">
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
								<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
								<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
							</div> 	
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t4.jpg" class="img-responsive" alt="...">
						<div class="w3agile-caption">
							<h4>Chunk Erson</h4>
							<p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>						
							<div class="social-icon">
								<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
								<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
								<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a> 
							</div> 	
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-team -->
	<!-- footer start here -->
	<div class="agilebg-footer">
		<div class="footer">
			<div class="container">
				<div class="footer-agileinfo">
					<div class="col-md-3 col-sm-3 footer-wthree-grid">
						<h3>SiteLinks</h3>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li> 
							<li><a href="/blog">Blog</a></li>
							<li><a href="/blog">Vote</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/contact">Site Map</a></li>

						</ul>
					</div>
					<div class="col-md-5 col-sm-5 footer-wthree-grid">
						<h3>Latest Tweet</h3>
						<div class="agileits-w3layouts-tweets">  
							<h5><i class="fa fa-twitter" aria-hidden="true"></i> Anticipating</h5> 
						</div>
						<p>I as a person and some of my other friends are looking forward to the starting of House of Beauty Lifestyle 2018 Season 1 </p>
					</div>
					<div class="col-md-4 col-sm-4 footer-wthree-grid">
						<h3>Keep In Touch</h3>
						<div class="ftr-icons">
							<div class="ftr-iblock">
								<span class="glyphicon glyphicon-map-marker">  </span>
							</div>
							<div class="ftr-text">
								<p>Lagos, Nigeria.</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					   <div class="ftr-icons">
							<div class="ftr-iblock">
								<span class="glyphicon glyphicon-earphone">  </span>
							</div>
							<div class="ftr-text">
								<p>+234 809 8496417</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					   <div class="ftr-icons">
							<div class="ftr-iblock">
							   <span class="glyphicon glyphicon-envelope">  </span>
							</div>
							<div class="ftr-text">
								<p><a href="mailto:Hbflempire@gmail.com">Hbflempire@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					</div>
					<div class="clearfix"> </div>		
				</div>
			</div>
		</div>
	</div>
	<!-- //footer end here -->
	<!-- copy rights start here -->
	<div class="copy-right">
		<div class="container"> 
			<p>© 2018 HbflEmpire. All Rights Reserved | Developed by  <a href="http://kizitotech.ml/" target="_blank">Kizito</a> </p>
		</div>
	</div>
	<!-- //copy right end here -->
	<!-- Modal for Login form -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-1">
        		
        	</div>
      <div class="col-md-10">
        <h3 style="color: #007b70;">Login Your Account</h3><br>
        <form action="/login" method="POST">
          <div>
          	<i class="fa fa-envelope"></i>
            <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required="">
          </div><hr>
          <div>
          	<i class="fa fa-lock"></i>
            <input type="password" name="password" class="form-control" placeholder="Password" required="">
          </div><hr>
          <div>
          	<select name="type" class="form-control">
							<option>Login as</option>
							<option value="user">USER</option>
							<option value="admin">ADMIN</option>
			</select>
          </div><hr>
          <div>
            <input type="checkbox" name="checkbox" required=""> Remember Me
          </div><hr>
          <div>
            <input type="submit" name="submit" value="Login" class="btn btn-success">
          </div>
        </form><br>
        <h4>Not a Member? <a href="/signup">Create Account</a></h4><br>
        <h5 style="text-align: center;">&copy HBFLEmpire</h5>
      </div>
      <div class="col-md-1">
      	
      </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	<!-- </modal> -->      
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			$('#signup').on('click', function () {
				$('#myModal1').modal('show');
			});
			$('#login').on('click', function () {
				$('#myModal2').modal('show');
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script> 
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
    <% include partials/footer.ejs %>