<% include partials/header.ejs %>
	<!-- banner start here -->
	<div class="agileinfo-main about-top">  
		<div class="banner"> 
		</div> 
		<div class="agileinfo-header">
			<div class="container">
				<div class="agile-logo">
					<a href="/"> <img src="images/img2.png" style="width: 100px; height: 100px;"></a>
				</div>
				<div class="agileits-w3layouts-icons">
					<div class="social-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="http://facebook.com/hbflempire" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="http://instagram.com/hbfl_empire" class="social-button instagram"><i class="fa fa-instagram"></i></a>
						<a href="mailto:dmcnationwide@yahoo.com" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						<a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
					</div> 
				</div>
				<div class="clearfix"> </div>
			</div>	    
		</div>
		<!-- navigation start here -->
		<div class="top-nav">
			<span class="menu">Menu</span>	
			<ul class="w3l">
				<li><a href="/"><i aria-hidden="true" class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
				<li><a href="/about"><i class="glyphicon glyphicon-user"></i><span>About</span></a></li>
				<li><a href="/blog"><i class="glyphicon glyphicon-list-alt"></i><span>Blog</span></a></li>
				<li><a href="/contestant"><i class="glyphicon glyphicon-check"></i><span>Vote</span></a></li>
				<li><a class="active" href="/contact"><i class="glyphicon glyphicon-envelope"></i><span>Contact</span></a></li>
				<li><a href="/signup"><i class="glyphicon glyphicon-pencil"></i><span>SignUp</span></a></li>
				<li><a href="#" id="login"><i class="glyphicon glyphicon-lock"></i><span>Login</span></a></li>
			</ul>
			<!-- script-for-menu -->
			<script>
			   $( "span.menu" ).click(function() {
				 $( "ul.w3l" ).slideToggle( 300, function() {
				 // Animation complete.
				  });
				 });
			</script>
			<!-- //script-for-menu -->
		</div>	
	</div>
	<!-- //navigation end here -->
	<!-- contact -->
	<div class="contact">
		<div class="container">  
			<h2 class="agile-title">Contact Us</h2>
			<h4 style="color: purple;"><%= typeof msg!= 'undefined' ? msg: '' %></h4>
			<div class="col-md-7 contact-right">				
				<form action="/contact" method="POST"> 
					<input type="text" name="name" placeholder="Name" required="">
					<input type="email" name="email" placeholder="Email" required=""> 
					<input type="text" name="telephone" placeholder="Phone Number">
					<textarea name="message" placeholder="Message..." required=""></textarea>
					<input type="submit" value="Send" >
				</form>
			</div>
			<div class="col-md-5 contact-left">
				<p>"We are fully available for any enquiries and also ready to get back to you as soon as possible "</p>
				<ul>
					<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						Lagos,Nigeria.
					</li>					
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
						+234 809 8496417
					</li>
					<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<a href="mailto:Hbflempire@gmail.com">Hbflempire@gmail.com</a>
					</li>
				</ul>
			</div>						
			<div class="clearfix"> </div> 
			<div class="map">
				<h3 class="agile-title">How to Find Us</h3>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4376542.827441857!2d133.94238155277205!3d-25.73870281693212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2sin!4v1439377130002" allowfullscreen></iframe>
			</div> 
		</div>			
	</div>
	<!-- //contact --> 
<!-- footer start here -->
	<div class="agilebg-footer">
		<div class="footer">
			<div class="container">
				<div class="footer-agileinfo">
					<div class="col-md-3 col-sm-3 footer-wthree-grid">
						<h3>SiteLinks</h3>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li> 
							<li><a href="/blog">Blog</a></li>
							<li><a href="/blog">Vote</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/contact">Site Map</a></li>

						</ul>
					</div>
					<div class="col-md-5 col-sm-5 footer-wthree-grid">
						<h3>Latest Tweet</h3>
						<div class="agileits-w3layouts-tweets">  
							<h5><i class="fa fa-twitter" aria-hidden="true"></i> Anticipating</h5> 
						</div>
						<p>I as a person and some of my other friends are looking forward to the starting of House of Beauty Lifestyle 2018 Season 1 </p>
					</div>
					<div class="col-md-4 col-sm-4 footer-wthree-grid">
						<h3>Keep In Touch</h3>
						<div class="ftr-icons">
							<div class="ftr-iblock">
								<span class="glyphicon glyphicon-map-marker">  </span>
							</div>
							<div class="ftr-text">
								<p>Lagos, Nigeria.</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					   <div class="ftr-icons">
							<div class="ftr-iblock">
								<span class="glyphicon glyphicon-earphone">  </span>
							</div>
							<div class="ftr-text">
								<p>+234 809 8496417</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					   <div class="ftr-icons">
							<div class="ftr-iblock">
							   <span class="glyphicon glyphicon-envelope">  </span>
							</div>
							<div class="ftr-text">
								<p><a href="mailto:Hbflempire@gmail.com">Hbflempire@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					</div>
					<div class="clearfix"> </div>		
				</div>
			</div>
		</div>
	</div>
	<!-- //footer end here -->
	<!-- copy rights start here -->
	<div class="copy-right">
		<div class="container"> 
			<p>© 2018 HbflEmpire. All Rights Reserved | Developed by  <a href="http://kizitotech.ml/" target="_blank">Kizito</a> </p>
		</div>
	</div>
	<!-- //copy right end here -->
	<!-- Modal for Login form -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-1">
        		
        	</div>
      <div class="col-md-10">
        <h3 style="color: #007b70;">Login Your Account</h3><br>
        <form action="/login" method="POST">
          <div>
          	<i class="fa fa-envelope"></i>
            <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required="">
          </div><hr>
          <div>
          	<i class="fa fa-lock"></i>
            <input type="password" name="password" class="form-control" placeholder="Password" required="">
          </div><hr>
          <div>
          	<select name="type" class="form-control">
							<option>Login as</option>
							<option value="user">USER</option>
							<option value="admin">ADMIN</option>
			</select>
          </div><hr>
          <div>
            <input type="checkbox" name="checkbox" required=""> Remember Me
          </div><hr>
          <div>
            <input type="submit" name="submit" value="Login" class="btn btn-success">
          </div>
        </form><br>
        <h4>Not a Member? <a href="/signup">Create Account</a></h4><br>
        <h5 style="text-align: center;">&copy HBFLEmpire</h5>
      </div>
      <div class="col-md-1">
      	
      </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	<!-- </modal> -->   
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			$('#signup').on('click', function () {
				$('#myModal1').modal('show');
			});
			$('#login').on('click', function () {
				$('#myModal2').modal('show');
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script> 
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
<% include partials/footer.ejs %>  