<% include partials/header.ejs %>
<!-- banner start here -->
	<div class="agileinfo-main">
		<div class="slider">
			<script src="js/responsiveslides.min.js"></script>
			<script>
				// You can also use "$(window).load(function() {"
				$(function () {
				  // Slideshow 1
				  $("#slider1").responsiveSlides({
					 auto: true,
					 nav: true,
					 speed: 500,
					 namespace: "callbacks",
				  });
				});
			</script>
			<ul class="rslides" id="slider1">
				<li>
					<div class="banner">
						<h3 style="color: purple;">Wow!!! Are You Excited? Anticipating?, Watch Out For HBFL Season1!!!. </h3>
					</div>
				</li>
				<li>
					<div class="banner banner2">
						<h3 style="color: purple;">Wow!!! Are You Excited? Anticipating?, Watch Out For HBFL Season1!!!. </h3>
					</div>
				</li>
				<li>
					<div class="banner banner3">
						<h3 style="color: #fff;">Wow!!! Are You Excited? Anticipating?, Watch Out For HBFL Season1!!!. </h3>
					</div>
				</li>
			</ul>
		</div>	
		<div class="agileinfo-header">
			<div class="container">
				<div class="agile-logo">
				<a href="/"> <img src="images/img2.png" style="width: 100px; height: 100px;"></a><!-- <strong style="color: white; font-size: 20px;">.... HBFL EMPIRE ....</strong> -->
				</div>
				<div class="agileits-w3layouts-icons">
					<div class="social-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="http://facebook.com/hbflempire" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="http://instagram.com/hbfl_empire" class="social-button instagram"><i class="fa fa-instagram"></i></a>
						<a href="mailto:dmcnationwide@yahoo.com" class="social-button google"><i class="fa fa-google-plus"></i></a> 
						<a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>
					</div> 
				</div>
				<div class="clearfix"> </div>
			</div>	    
		</div>
		<!-- navigation start here -->
		<div class="top-nav">
			<span class="menu">Menu</span>	
			<ul class="w3l">
				<li><a class="active" href="/"><i aria-hidden="true" class="glyphicon glyphicon-home"></i><span>Home</span></a></li>
				<li><a href="/about"><i class="glyphicon glyphicon-user"></i><span>About</span></a></li>
				<li><a href="/blog"><i class="glyphicon glyphicon-list-alt"></i><span>Blog</span></a></li>
				<li><a href="/contestant"><i class="glyphicon glyphicon-check"></i><span>Vote</span></a></li>
				<li><a href="/contact"><i class="glyphicon glyphicon-envelope"></i><span>Contact</span></a></li>
				<li><a href="/signup"><i class="glyphicon glyphicon-pencil"></i><span>SignUp</span></a></li>
				<li><a href="#" id="login"><i class="glyphicon glyphicon-lock"></i><span>Login</span></a></li>
			</ul>
			<!-- script-for-menu -->
			<script>
			   $( "span.menu" ).click(function() {
				 $( "ul.w3l" ).slideToggle( 300, function() {
				 // Animation complete.
				  });
				 });
			</script>
			<!-- //script-for-menu -->
		</div>	
	</div>
	<!-- navigation end here -->
	<!-- banner end here -->
	<div class="banner-w3bottom">
		<div class="container">
			<div class="banner-w3bottom-row">
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-4 w3ls-bnrgrids-left">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 w3ls-bnrgrids-right">
						<h4>Globally</h4>
						<p>We are all over the globe and can easily be reached through our website and other means.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-4 w3ls-bnrgrids-left">
						<i class="fa fa-film" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 w3ls-bnrgrids-right">
						<h4>Informative </h4>
						<p>We Aim at providing our users with the right and useful informations.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-4 w3ls-bnrgrids-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 w3ls-bnrgrids-right">
						<h4>Credibility</h4>
						<p>We are 100% trustworthy in keeping and storing of users informations and records safely.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<!-- //banner end here --> 
	<!-- welcome -->
	<div class="welcome agileits">
		<div class="container">
			<h2 class="agile-title">Welcome To Our Site</h2> 
			<p>We are an online platform dealing with apects of entertainment mainly on reality TV shows. We currently setting up a One Month Tv reality shows in which voting of contestant comes after and deterimines who goes home with our Benefit/Prizes Which Are: 1 Million Naira Cash Price, A plot Of Land In Lagos, International Endorsement Deal, Top Peageant Representative, Magazines Featuring amd Lots More...</p>
			<div class="welcome-agileinfo">
				<div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
					<div class="view view-w3-agile">
						<img src="images/img1.jpg" alt="" class="img-responsive" />
						<div class="agileits-w3layouts-mask">
							<h4>HBFL TV Reality Show</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
					<div class="view view-w3-agile">
						<img src="images/img2.png" alt="" class="img-responsive" />
						<div class="agileits-w3layouts-mask">
							<h4>House Of Beauty Fashion And LifeStyle</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //welcome --> 
	<!-- events -->
	<div class="events"> 
		<div class="container">
			<h3 class="agile-title">Our Upcoming Events</h3> 
			<div class="events-info">
				<div class="col-md-6 event-grids">
					<div class="w3layouts-text">
						<h4>10<span>Sep</span></h4>
						<h6><a href="single.html">2nd Batch Nomination of Contestant to be voted for </a></h6>
						<div class="clearfix"> </div>
					</div>
					<p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
				</div>
				<div class="col-md-6 event-grids">
					<div class="w3layouts-text">
						<h4>20<span>Sep</span></h4>
						<h6><a href="single.html">Final Ceremony/Grand Finale </a></h6>
						<div class="clearfix"> </div>
					</div>
					<p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div> 
	</div> 
	<!-- //events --> 
	<!--- albums -->
	<div class="albums">
		<div class="container">
			<h3 class="agile-title">Our Contestants</h3>   
			<div class="col-md-6 w3lsalbums-grid">
				<div class="albums-left"> 
					<div class="wthree-almub">  
					</div>
				</div>
				<div class="albums-right">
					<h4>Martins</h4><br>
					<p>Hbfl Contestant</p><br>
					<a class="w3more btn btn-info" href="single.html"><i class="fa fa-pencil" aria-hidden="true"></i> Vote Contestant</a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 w3lsalbums-grid">
				<div class="albums-left"> 
					<div class="wthree-almub wthree-almub2"> 
					</div> 
				</div>
				<div class="albums-right">
					<h4>Ewatomi</h4><br>
					<p>Hbfl Contestant</p><br>
					<a class="w3more btn btn-info" href="single.html"><i class="fa fa-pencil" aria-hidden="true"></i> Vote Contestant</a>
				</div>
				<div class="clearfix"></div>
			</div>  
			<div class="col-md-6 w3lsalbums-grid">
				<div class="albums1-right"> 
					<div class="wthree-almub wthree-almub3">  
					</div>
				</div>
				<div class="albums1-left">
					<h4>Olawunmi</h4><br>
					<p>Hbfl Contestant</p><br>
					<a class="w3more btn btn-info" href="single.html"><i class="fa fa-pencil" aria-hidden="true"></i> Vote Contestant</a>
				</div> 
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 w3lsalbums-grid">
				<div class="albums1-right"> 
					<div class="wthree-almub wthree-almub4">  
					</div>
				</div>
				<div class="albums1-left">
					<h4>Click the button below to view all other HBFLEmpire Contestants</h4>
					<a class="w3more btn btn-info" href="/contestant"><i class="fa fa-pencil" aria-hidden="true"></i> View More</a>
				</div> 
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div> 
		</div>
	</div>
	<!--- //albums -->
	<div class="banner-w3bottom">
		<div class="container">
			<h2 style="color: #007b70;">Our Partners</h2>
			<div class="banner-w3bottom-row">
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-6 w3ls-bnrgrids-left">
						<img src="images/gtbank.png" style="width: 200px; height: 100px;">
					</div>
					<div class="col-md-6 w3ls-bnrgrids-right">
						<img src="images/gotv.jpeg" style="width: 200px; height: 100px;">
					</div>
					<div class="clearfix"> </div>
				</div><br>
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-6 w3ls-bnrgrids-left">
						<img src="images/tstv.png" style="width: 200px; height: 100px;">
					</div>
					<div class="col-md-6 w3ls-bnrgrids-right">
						<img src="images/dstv.png" style="width: 200px; height: 100px;">
					</div>
					<div class="clearfix"> </div>
				</div><br>
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-12 w3ls-bnrgrids-left">
						<img src="images/startimes.jpg" style="width: 200px; height: 100px;">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>

			<div class="banner-w3bottom-row">
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-6 w3ls-bnrgrids-left">
						<img src="images/kikisinare.jpg" style="width: 200px; height: 100px;">
					</div>
					<div class="col-md-6 w3ls-bnrgrids-right">
						<img src="images/dbase.jpg" style="width: 200px; height: 100px;">
					</div>
					<div class="clearfix"> </div>
				</div><br>
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-6 w3ls-bnrgrids-left">
						<img src="images/afromax.jpg" style="width: 200px; height: 100px;">
					</div>
					<div class="col-md-6 w3ls-bnrgrids-right">
						<img src="images/tekeeva.jpg" style="width: 200px; height: 100px;">
					</div>
					<div class="clearfix"> </div>
				</div><br>
				<div class="col-md-4 col-sm-4 col-xs-4 w3ls-bnrgrids">
					<div class="col-md-12 w3ls-bnrgrids-left">
						<img src="images/palazo.jpg" style="width: 200px; height: 100px;">
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div> 
	<!-- //banner end here --> 
	<!-- footer start here -->
	<div class="agilebg-footer">
		<div class="footer">
			<div class="container">
				<div class="footer-agileinfo">
					<div class="col-md-3 col-sm-3 footer-wthree-grid">
						<h3>SiteLinks</h3>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li> 
							<li><a href="/blog">Blog</a></li>
							<li><a href="/blog">Vote</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/contact">Site Map</a></li>

						</ul>
					</div>
					<div class="col-md-5 col-sm-5 footer-wthree-grid">
						<h3>Latest Tweet</h3>
						<div class="agileits-w3layouts-tweets">  
							<h5><i class="fa fa-twitter" aria-hidden="true"></i> Anticipating</h5> 
						</div>
						<p>I as a person and some of my other friends are looking forward to the starting of House of Beauty Lifestyle 2018 Season 1 </p>
					</div>
					<div class="col-md-4 col-sm-4 footer-wthree-grid">
						<h3>Keep In Touch</h3>
						<div class="ftr-icons">
							<div class="ftr-iblock">
								<span class="glyphicon glyphicon-map-marker">  </span>
							</div>
							<div class="ftr-text">
								<p>Lagos, Nigeria.</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					   <div class="ftr-icons">
							<div class="ftr-iblock">
								<span class="glyphicon glyphicon-earphone">  </span>
							</div>
							<div class="ftr-text">
								<p>+234 809 8496417</p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					   <div class="ftr-icons">
							<div class="ftr-iblock">
							   <span class="glyphicon glyphicon-envelope">  </span>
							</div>
							<div class="ftr-text">
								<p><a href="mailto:Hbflempire@gmail.com">Hbflempire@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
					   </div>
					</div>
					<div class="clearfix"> </div>		
				</div>
			</div>
		</div>
	</div>
	<!-- //footer end here -->
	<!-- copy rights start here -->
	<div class="copy-right">
		<div class="container"> 
			<p>© 2018 HbflEmpire. All Rights Reserved | Developed by  <a href="http://kizitotech.ml/" target="_blank">Kizito</a> </p>
		</div>
	</div>
	<!-- //copy right end here -->
	<!-- Modal for Login form -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-1">
        		
        	</div>
      <div class="col-md-10">
        <h3 style="color: #007b70;">Login Your Account</h3><br>
        <form action="/login" method="POST">
          <div>
          	<i class="fa fa-envelope"></i>
            <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required="">
          </div><hr>
          <div>
          	<i class="fa fa-lock"></i>
            <input type="password" name="password" class="form-control" placeholder="Password" required="">
          </div><hr>
          <div>
          	<select name="type" class="form-control">
							<option>Login as</option>
							<option value="user">USER</option>
							<option value="admin">ADMIN</option>
			</select>
          </div><hr>
          <div>
            <input type="checkbox" name="checkbox" required=""> Remember Me
          </div><hr>
          <div>
            <input type="submit" name="submit" value="Login" class="btn btn-success">
          </div>
        </form><br>
        <h4>Not a Member? <a href="/signup">Create Account</a></h4><br>
        <h5 style="text-align: center;">&copy HBFLEmpire</h5>
      </div>
      <div class="col-md-1">
      	
      </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	<!-- </modal> -->  
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function () {
			$('#signup').on('click', function () {
				$('#myModal1').modal('show');
			});
			$('#login').on('click', function () {
				$('#myModal2').modal('show');
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script> 
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
    <% include partials/footer.ejs %>